[submodule "frontend"]
	path = frontend
	url = ../frontend
[submodule "backend"]
	path = backend
	url = git@github.com:aaa-hr-rec-sys/backend.git
[submodule "ranking-service"]
	path = ranking-service
	url = https://github.com/aaa-hr-rec-sys/ranking-service.git
